DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

# MinIO / S3
S3_ENDPOINT=http://localhost:9000
S3_BUCKET=BUCKET_NAME
S3_ACCESS_KEY_ID=MINIO_USERNAME
S3_SECRET_ACCESS_KEY=MINIO_PASSWORD
S3_REGION=us-east-1

